<Parameters>
  <maxRooms>50</maxRooms>
  <max__records>500</max__records>
  <rooms>
    <campmanager.Room>
      <room__no>101 A</room__no>
      <capacity>3</capacity>
      <cost>500</cost>
    </campmanager.Room>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
  </rooms>
  <roomCount>1</roomCount>
  <roomLL>
    <campmanager.Room reference="../../rooms/campmanager.Room"/>
  </roomLL>
</Parameters>