<Parameters>
  <maxRooms>50</maxRooms>
  <max__records>500</max__records>
  <rooms>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
    <null/>
  </rooms>
  <roomCount>2</roomCount>
  <roomLL>
    <campmanager.Room>
      <bld__no>J 3</bld__no>
      <room__no>101 A</room__no>
      <capacity>3</capacity>
      <cost>500</cost>
      <occupancy>0</occupancy>
      <campers__in__room/>
      <full>false</full>
    </campmanager.Room>
    <campmanager.Room>
      <bld__no>101 B</bld__no>
      <room__no>101 B</room__no>
      <capacity>3</capacity>
      <cost>500</cost>
      <occupancy>2</occupancy>
      <campers__in__room>
        <Person>
          <name>Akshaya</name>
          <cec__no>New Joinee</cec__no>
          <nationality>India</nationality>
          <phone__no>
            <area>12</area>
            <number>123123</number>
          </phone__no>
          <hash>17461244</hash>
          <bedding>false</bedding>
          <grade>S1</grade>
          <newEmployee>true</newEmployee>
          <camp__location>Junior-NE</camp__location>
          <room>
            <bld__no>J 3</bld__no>
            <room__no>101 B</room__no>
            <capacity>0</capacity>
            <cost>0</cost>
            <occupancy>0</occupancy>
            <campers__in__room/>
            <full>false</full>
          </room>
        </Person>
        <Person>
          <name>Raj</name>
          <cec__no>New Joinee</cec__no>
          <nationality>Albania</nationality>
          <phone__no>
            <area>123</area>
            <number>123123</number>
          </phone__no>
          <hash>27555217</hash>
          <bedding>false</bedding>
          <grade>S1</grade>
          <newEmployee>true</newEmployee>
          <camp__location>Junior-NE</camp__location>
          <room>
            <bld__no>J 3</bld__no>
            <room__no>101 B</room__no>
            <capacity>0</capacity>
            <cost>0</cost>
            <occupancy>0</occupancy>
            <campers__in__room/>
            <full>false</full>
          </room>
        </Person>
      </campers__in__room>
      <full>false</full>
    </campmanager.Room>
  </roomLL>
</Parameters>